<h3>List of Courses</h3>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>
          <a (click)="toggleOrder('course.id')">#<i class="fa fa-fw fa-sort"></i></a>
        </th>
        <th>
          <a (click)="toggleOrder('course.title')">Title<i class="fa fa-fw fa-sort"></i></a>
        </th>
        <th>
          <a (click)="toggleOrder('professor.name')">Professor<i class="fa fa-fw fa-sort"></i></a>
        </th>
        <th>
          <a (click)="toggleOrder('course.cost')">Cost<i class="fa fa-fw fa-sort"></i></a>
        </th>
        <th>
          <a (click)="toggleOrder('course.startsOn')">Date<i class="fa fa-fw fa-sort"></i></a>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody 
      *ngFor="let course of courses 
        | async 
        | paginate: { id: 'server', itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }">
      <tr>
        <td>{{ course.id }}</td>
        <td>
          <a routerLink="/course-details/{{ course.id }}">{{ course.title }}</a>
        </td>
        <td>{{ course.professor.name }}</td>
        <td>{{ course.cost | currency:'USD':true }}</td>
        <td>{{ course.starts_on | date }}</td>
        <td>
          <button class="btn btn-sm btn-primary" (click)="enroll(course.id)">Enroll</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<pagination-template 
  #p="paginationApi" 
  id="server" 
  (pageChange)="getPage($event)">

  <ul class="pagination">
    <li>
      <a *ngIf="!p.isFirstPage()" (click)="p.previous()">&laquo;</a>
      <span *ngIf="p.isFirstPage()">&laquo;</span>
    </li>
    <li 
      *ngFor="let page of p.pages" 
      [class.active]="p.getCurrent() === page.value">
      <a 
      (click)="p.setCurrent(page.value)" 
        *ngIf="p.getCurrent() !== page.value">{{ page.label }}</a>
      <span *ngIf="p.getCurrent() === page.value">{{ page.label }}</span>
    </li>
    <li>
      <a *ngIf="!p.isLastPage()" (click)="p.next()">&raquo;</a>
      <span *ngIf="p.isLastPage()">&laquo;</span>
    </li>
  </ul>

</pagination-template>